[submodule "projeto-submodulo"]
	path = projeto-submodulo
	url = https://github.com/douglaswe/projeto-submodulo.git
[submodule "backend"]
	path = backend
	url = https://github.com/douglaswe/projeto-submodulo.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/douglaswe/teste-3-submodulo.git
